<div class="callout large primary">
    <div class="row column text-center">
    <% unless @tree.id? %>
        <h1>Create a new tree</h1>
        <%= form_for(@tree, url: intervals_tree_index_path(), method: :post) do |form| %>

          <%= form.label :label, "Give the root a name !" %>
          <%= form.text_field :label, placeholder: "Root label", autofocus: true %>
          <input type="hidden" name="as_root" value="1" />
          <button type="submit" class="success button">
            Save
          </button>
        <% end %>
    <% end %>
    </div>
</div>

<% if @tree.id? %>
<div class="row">
  <div class="tree__layout">
    <table class="tree__table">
      <tbody>
        <% (@tree.tree
              .maximum(:tree_level) + 1).times do |level| %>
          <%= render partial: "intervals/tree/index/tree_level",
                     locals:{ collection: @tree.tree.order(left_tree: :asc)
                                    .where(tree_level: level),
                              level: level,
                              max_right_tree: @tree.right_tree } %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>
