@import "_foundation_settings";

.tree__table{
  width: 100%;
}
.tree__cell{
  text-align: center;
  position: relative;
}

.tree__left,
.tree__right{
  position:absolute;
  color: $dark-gray;
  font-weight: 900;
  bottom: 3px;
}

.tree__left{
  left: 6px;
}
.tree__right{
  right: 6px;
}

.tree__delete{
    float:right;
}
